<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :) <br/> <br/>
  {{"Example"}} <br/> <br/>
  45 + 35 ={{45+35}}<br/>
</p>

<p *ngIf = "user.name">
  username : {{user.name}}
</p>

<ng-template
  *ngIf="show; then showBlock; else notShowBlock">
</ng-template>

<ng-template #showBlock>
  <p>This is Show Block</p>  
</ng-template>

<ng-template #notShowBlock>
  <p>This is NOT Show Block</p>  
</ng-template>

<p>
  <input {{ngModel}} = "a"  type="text" /> *
  <input {{ngModel}} = "b"  type="text" /> =
  <br/>{{a+b}}
</p>

<button {click}="KlikButton()">Tekan<button>{{pesan}}
